[licenses]
version = 2
allow = [
  "Apache-2.0",
  "MIT",
  "Unicode-3.0",
  "BSL-1.0",
  "BSD-2-Clause",
  "Unlicense",
]
confidence-threshold = 0.8

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
